trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm ci
    npm run test
  displayName: 'npm ci'
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/TEST-*.xml'

- task: CopyFiles@2
  inputs:
    sourceFolder: '.'
    contents: 'bin/' 
    targetFolder: ./npm
  displayName: 'Copy bin/'

- task: CopyFiles@2
  inputs:
    sourceFolder: '.'
    contents: 'package.json' 
    targetFolder: ./npm
  displayName: 'Copy package.json'   

- task: CopyFiles@2
  inputs:
    sourceFolder: '.'
    contents: 'routes/' 
    targetFolder: ./npm
  displayName: 'Copy routes/'   

- task: CopyFiles@2
  inputs:
    sourceFolder: '.'
    contents: 'app.js' 
    targetFolder: ./npm
  displayName: 'Copy app.js'   

- task: CopyFiles@2
  inputs:
    sourceFolder: '.'
    contents: 'package-lock.json' 
    targetFolder: ./npm
  displayName: 'Copy package-lock.json'   

- task: CopyFiles@2
  inputs:
    sourceFolder: '.'
    contents: 'node_modules' 
    targetFolder: ./npm
  displayName: 'node_modules'   
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: './npm'
    artifactName: npm
  displayName: 'Publish npm artifact'