name: Node.js build automation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '12.x'
      - run: npm ci
      - uses: actions/upload-artifact@v3
        with:
          name: NodeJS-app
          path: |
            bin/
            routes/
            app.js
            package.json
            package-lock.json
            node_modules
